<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="nodelet_manager" default="velodyne_nodelet_manager5" />
  
  <arg name="points_topic" default="/velodyne_points" />
  <!-- input clouds are transformed in odom_child_frame, and then localization is performed in that frame -->
  <!-- this is useful to match the LIDAR and IMU coodinate systems -->
  <arg name="odom_child_frame_id" default="velodyne"/>

  <!-- optional arguments -->
  <arg name="use_sim_time" default="true" />
  <arg name="use_imu" default="false" />
  <arg name="invert_imu_acc" default="false" />
  <arg name="invert_imu_gyro" default="false" />
  <arg name="use_global_localization" default="true" />
  <arg name="imu_topic" default="/imu_data2" />
  <arg name="enable_robot_odometry_prediction" value="false" />
  <arg name="robot_odom_frame_id" value="odom" />
  <arg name="plot_estimation_errors" value="false" />

  <include file="$(find hdl_global_localization)/launch/hdl_global_localization.launch" if="$(arg use_global_localization)" />

  <!-- in case you use velodyne_driver, comment out the following line -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

    <!-- globalmap_server_nodelet -->
    <node pkg="nodelet" type="nodelet" name="globalmap_server_nodelet" args="load hdl_localization/GlobalmapServerNodelet $(arg nodelet_manager)">
    
      
      <!-- b1-->
      <!-- <param name="globalmap_pcd" value="$(find hdl_localization)/data/0305_b1_map.pcd"/> -->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0425_b1_slope.pcd"/-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0425_b1_slope_2.pcd"/-->
            
      
      <!--0414_outdoor交映樓草地-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0414_outdoor_line.pcd"/-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0414_outdoor_spath.pcd"/-->
      
      
      <!--gps-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/gps/0413_gps_1.pcd"/-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/gps/0413_gps_2.pcd"/-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/gps/0413_gps_3.pcd"/--> <!-- 口字形 -->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/gps/0413_gps_4.pcd"/-->
      
      
      <!--0427_outdoor_s path-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0427_1_map.pcd"/-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0427_2_map.pcd"/-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0427_3_map.pcd"/--> <!-- S型 繞過樹 -->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0427_4_map.pcd"/--> <!-- 大弧（半圓） -->
      
      <!--b1 0506 上下坡-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0506_slope_up_map.pcd"/--> 
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0506_slope_down_map.pcd"/--> 
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/828.pcd"/--> 
      
      <!--B1 地圖全-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/B1_0628_floam.pcd"/--> 
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/B1_floam_filtered.pcd"/--> 
      <!-- 8F -->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/8f_s_path_0307.pcd"/-->
      <!-- RTAB 戶外停車場 -->
      <param name="globalmap_pcd" value="$(find hdl_localization)/data/downsampled_0107_surface_depth_9_1_1.pcd"/> 
      
      <!--b1 換道-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/0305_b1_map.pcd"/-->
      <!--Floam 戶外停車場-->
      <!--param name="globalmap_pcd" value="$(find hdl_localization)/data/1741519177.463691711.pcd"/-->
      
      <param name="convert_utm_to_local" value="true" />
      <param name="downsample_resolution" value="0.1" /> <!--0.1-->
    </node>

    <!-- hdl_localization_nodelet -->
    <node pkg="nodelet" type="nodelet" name="hdl_localization_nodelet" args="load hdl_localization/HdlLocalizationNodelet $(arg nodelet_manager)">
      <remap from="/velodyne_points" to="$(arg points_topic)" />
      <remap from="/gpsimu_driver/imu_data" to="$(arg imu_topic)" />
      <!-- odometry frame_id -->
      <param name="odom_child_frame_id" value="$(arg odom_child_frame_id)" />
      <!-- imu settings -->
      <!-- during "cool_time", imu inputs are ignored -->
      <param name="use_imu" value="$(arg use_imu)" />
      <param name="invert_acc" value="$(arg invert_imu_acc)" />
      <param name="invert_gyro" value="$(arg invert_imu_gyro)" />
      <param name="cool_time_duration" value="0.05" />  <!--1.0-->
      <!-- robot odometry-based prediction -->
      <param name="enable_robot_odometry_prediction" value="$(arg enable_robot_odometry_prediction)" />
      <param name="robot_odom_frame_id" value="$(arg robot_odom_frame_id)" />
      <!-- ndt settings -->
      <!-- available reg_methods: NDT_OMP, NDT_CUDA_P2D, NDT_CUDA_D2D-->
      <param name="reg_method" value="NDT_OMP" />
      <!-- if NDT is slow for your PC, try DIRECT1 serach method, which is a bit unstable but extremely fast -->
      <param name="ndt_neighbor_search_method" value="DIRECT7" />
      <param name="ndt_neighbor_search_radius" value="2.0" />
      <param name="ndt_resolution" value="1.0" />  <!-- 1.0 -->
      <param name="downsample_resolution" value="0.1" />
      <!-- if "specify_init_pose" is true, pose estimator will be initialized with the following params -->
      <!-- otherwise, you need to input an initial pose with "2D Pose Estimate" on rviz" -->
      <param name="specify_init_pose" value="true" />
      <!--0305_b1_map.pcd-->
      <!--param name="init_pos_x" value="-0.158096" /-->        
      <!--param name="init_pos_y" value="0.17103" /-->
      <!--param name="init_pos_z" value="-0.656989" /-->

      <!--b1_straight_0315_map.pcd-->
      <!--param name="init_pos_x" value="0.953605" /-->   
      <!--param name="init_pos_y" value="0.737969" /-->
      <!--param name="init_pos_z" value="0.288708" /-->
      
      
      
      <!--0414_outdoor-->
      <!--param name="init_pos_x" value="0.04" /-->   
      <!--param name="init_pos_y" value="0.008" /-->
      <!--param name="init_pos_z" value="-0.572173" /-->
      
      <!--BSR-->
      <!--param name="init_pos_x" value="0.0" /-->   
      <!--param name="init_pos_y" value="0.0" /-->
      <!--param name="init_pos_z" value="-0.572173" /-->
      
      <!--param name="init_ori_x" value="0.0" /-->
      <!--param name="init_ori_y" value="0.0" /-->
      <!--param name="init_ori_z" value="0.0" /-->
      <!--param name="init_ori_w" value="1.0" /-->
      
      <!--b1_slope_up-->
     <!--<param name="init_pos_x" value="3.522" />   
      <param name="init_pos_y" value="-0.6289" />
      <param name="init_pos_z" value="-0.572173" />
      <param name="init_ori_x" value="0.0" />
      <param name="init_ori_y" value="0.0" />
      <param name="init_ori_z" value="-0.707" />
      <param name="init_ori_w" value="0.707" /> -->
      
      <!--cluster-->
      <param name="init_pos_x" value="0" />   
      <param name="init_pos_y" value="0" />
      <param name="init_pos_z" value="0" />
      <param name="init_ori_x" value="0" />
      <param name="init_ori_y" value="0" />
      <param name="init_ori_z" value="0" />
      <param name="init_ori_w" value="1.0" />
      
      
      <!--gps_3-->
      <!--param name="init_pos_x" value="0.243077" /-->   
      <!--param name="init_pos_y" value="0.151005" /-->
      <!--param name="init_pos_z" value="-0.681202" /-->
      
      <!--b1_slope2-->
      <!--param name="init_pos_x" value="6.155737400054932" /-->   
      <!--param name="init_pos_y" value="0.3552757799625397" /-->
      <!--param name="init_pos_z" value="-0.681202" /-->
      <!--param name="init_ori_w" value="0.7071067657322372" /-->
      <!--param name="init_ori_x" value="0.0" /-->
      <!--param name="init_ori_y" value="0.0" /-->
      <!--param name="init_ori_z" value="0.7071067966408575" /-->
      
      <!--b1 s path-->
      <!--param name="init_pos_x" value="13.688215255737305" /-->   
      <!--param name="init_pos_y" value="16.043556213378906" /-->
      <!--param name="init_pos_z" value="-0.681202" /-->
      <!--param name="init_ori_w" value="0.6972370484381862" /-->
      <!--param name="init_ori_x" value="0.0" /-->
      <!--param name="init_ori_y" value="0.0" /-->
      <!--param name="init_ori_z" value="0.7168406366028689" /-->

      <param name="use_global_localization" value="$(arg use_global_localization)" />
    </node>

    <node pkg="hdl_localization" type="plot_status.py" name="plot_estimation_errors" if="$(arg plot_estimation_errors)" />
    <!-- <node pkg="rviz" type="rviz" name = "rviz" args="-d $(find hdl_localization)/rviz/hdl_localization.rviz"/> -->
</launch>
